<a href="https://colab.research.google.com/github/Jorgeeperalta/colob/blob/main/frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as  np
import pandas as pd

In [ ]:
from numpy.lib.arraypad import pad
df = pd.DataFrame({
    'A': np.random.rand(10),
    'B': np.random.rand(10),
    'C': np.random.rand(10)
},columns = ['A','B','C'])

df

          A         B         C
0  0.159380  0.924175  0.160563
1  0.292561  0.235138  0.852518
2  0.813217  0.440425  0.596097
3  0.979740  0.899417  0.747118
4  0.466227  0.595073  0.673530
5  0.511802  0.225003  0.622024
6  0.312879  0.983460  0.256116
7  0.948096  0.053005  0.276522
8  0.129051  0.780177  0.820896
9  0.396741  0.842919  0.641948

In [ ]:
df.mean()

A    0.498120
B    0.537625
C    0.484264
dtype: float64

In [ ]:
df.mean(axis='columns')

0    0.632721
1    0.644345
2    0.812607
3    0.525885
4    0.537841
5    0.538488
6    0.458678
7    0.220024
8    0.327353
9    0.368750
dtype: float64

In [ ]:

df2 = pd.DataFrame ({
    'key': ['A','B','C','A','B','C'],
    'values': range(6)
},columns = ['key','values']
)
df2

  key  values
0   A       0
1   B       1
2   C       2
3   A       3
4   B       4
5   C       5

In [ ]:
df2.groupby('key').mean()

     values
key
A       1.5
B       2.5
C       3.5

Manipulacion de data frames

In [ ]:
df3 = pd.DataFrame({
    'key': ['A','B','C','A','B','C'],
    'value': range(6),
    'value2': np.random.randint(0,100,6)
})

In [ ]:
df3

  key  value  value2
0   A      0      15
1   B      1      32
2   C      2      22
3   A      3      90
4   B      4      79
5   C      5      61

In [ ]:
df3.groupby('key').aggregate(['min',np.median, np.mean,max])

    value                 value2
      min median mean max    min median  mean max
key
A       0    1.5  1.5   3     15   52.5  52.5  90
B       1    2.5  2.5   4     32   55.5  55.5  79
C       2    3.5  3.5   5     22   41.5  41.5  61

In [ ]:
df3.groupby('key').aggregate({
    'value':'min',
    'value2':'max'
})

     value  value2
key
A        0      90
B        1      79
C        2      61

Filter

In [ ]:
df3.groupby('key').std()

       value     value2
key
A    2.12132  53.033009
B    2.12132  33.234019
C    2.12132  27.577164

In [ ]:
def filter_func(x):
  return x['value2'].std()>5

In [ ]:
df3.groupby('key').filter(filter_func)

  key  value  value2
0   A      0      15
1   B      1      32
2   C      2      22
3   A      3      90
4   B      4      79
5   C      5      61

**transform**

In [ ]:
df3.groupby('key').transform(lambda x: x -x.mean())

   value  value2
0   -1.5   -37.5
1   -1.5   -23.5
2   -1.5   -19.5
3    1.5    37.5
4    1.5    23.5
5    1.5    19.5

**Apply**

In [ ]:
def nor_by_col12(x):
      x['value'] = x['value']/ x['value2'].sum()
      return x

In [ ]:
df3.groupby('key').apply(nor_by_col12)

  key     value  value2
0   A  0.000000      15
1   B  0.009009      32
2   C  0.024096      22
3   A  0.028571      90
4   B  0.036036      79
5   C  0.060241      61

Viernes 25/3